
nav li{
    display: inline;
    margin: 2.5%;
    font-size:1.50em;
}

/*--------List Style Type -for Beignet -------*/


ol li{
	list-style-type:circle;
}


/*--------------------------------------------------------*/
/*    STYLING LINKS IN MAIN NAVIGATION     */

a:link {
    color: rgb(255,0,0);/*RED*/
}

/* visited link */
a:visited {
    color: rgb(100,100,100);/*WHITE*/
}

/* mouse over link */
a:hover {
    color: rgb(100,100,100);/*WHITE*/
}

/* selected link */
a:active {
    color: rgb(0,0,255);/*BLUE*/
}

/*------------------------------------------------*/


/*-----------TEXT STYLE---------------*/

/*@font-face{
	font-family: 'Roboto', sans-serif;
	<link href='https://fonts.googleapis.com/css?family=Roboto' 
	rel='stylesheet' type='text/css'>
	format ("Wof"); /*I have no idea why I'm getting validation errors on line 47 & 48?*/


h1{
	font-size:2.125em;
    text-shadow: 2px 1px #000000;
    text-align:center;
    background-color:#000;

}

p{
    text-indent: 50px;
    font-size:1em;
}

footer{
	margin:2%;
}

/*--------------------------------------------------------*/

body{
	width:100%;
	margin:/*5% auto*/0;
	/* Added background short hand -But I don't see it al all...*/
	background-color:rgba(113,51,38,0.5);
	background-image:url("../images/fork-spoon.png"),
			   		 url("../images/simple-scales.gif"), linear-gradient(#8B7765,#CDAF95);
	background-repeat:no-repeat, repeat-x;
	background-position:top right, top;
	font: normal normal .8em 'Roboto', sans-serif; /*Chris, is the set of 
	"normal normal" nessisary?*/
	/*font-style:normal;
	font-weight:normal;
	font-size:100%;-----THE OLD VERSION---*/
	line-height:25px;
	font-family: 'Roboto Condensed', sans-serif;
	/* Added color to text & size + a Gradient hack.*/
	color:#fff;
	font-size:1em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
	/*background: #f0b7a1; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

	
}

/*---------------THIS IS FOR BOX MODEL STYLING------------*/

article#Beignet{
	border:2px solid rgba(113,51,38,0.7); /*Border short Hand*/
	height:1500px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border-style:solid; 
	border-color:rgba(113,51,38,0.7);*/
	border-radius:25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.50); /*Could I
	change the order of the properties to better this?*/


}

article#Bosschebol{
	border:2px solid rgba(113,51,38,0.7);
	height:900px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border:2px;
	border-style:solid; 
	border-color:rgba(113,51,38,0.7);*/
	border-radius:25px;
	/*margin:25px;*/
	box-shadow: 10px 10px 5px rgba(0,0,0,.50);
}

article#Chouquette{
	border:2px solid rgba(113,51,38,0.7);
	height:750px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border:2px;
	border-style:solid; 
	border-color:rgba(113,51,38,0.7);
	border-radius:25px;
	margin:25px;*/
	border-radius:25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.50);
}

article#Croquembouche{
	border:2px solid rgba(113,51,38,0.7);
	height:1000px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border:2px;
	border-style:solid; 
	border-color:rgba(113,51,38,0.7);*/
	border-radius:25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.50);
}

article#puffs{
/* for short hand "border properties" you can use them in
order of 1.width, 2.style, 3.color...*/
	border:2px solid rgba(113,51,38,0.7);
	height:750px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border:2px;
	border-style:solid; 
	border-color:rgba(113,51,38,0.7);*/
	border-radius:25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.50);
	
	
}

article#cake{
	border:2px solid rgba(113,51,38,0.7);
	height:750px;
	margin:0.5%;
	padding:1%;
	width:80%;
	/*border:2px;
	border-style:solid; 
	border-color:rgba(113,51,38,0.7);*/
	border-radius:25px;
	box-shadow: 10px 10px 5px rgba(0,0,0,.50);
	
}

/*-----MULTI COLUMN LAYOUT--------------------*/

/*div{
	background-color:#777;
}*/

#one{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

#two{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

#three{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

#four{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

#five{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

#six{
	float:left;
	width:45%;
	margin:2.5%;
	padding:0%;
}

.clear{
	/*clear:left;*/
	overflow:contain;
}


/*.twoCoulmn{
	float:left;
	width:44%;
	margin:5%;
	padding:1%;
}*/







/*#coulmns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    /*-moz-column-count: 2; /* Firefox */
    /*column-count: 2;
}*/

/*    TABLE STYLE       -----------------------*/
table{
	width:45%;
}

th{
	height:35px;
	background-color:#808080;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
}

.Table tr:hover td {
	background-color:f3c56e;
}

td{
	background-color:#fff;
    color:#000;
}

table, th, td {
    border: 1px solid rgb(113,51,38);
    border-collapse:collapse;
    margin:5%;
    text-align:center;
    font-size:1em;
    padding:5px;
}

tr:hover{
	background-color:f3c56e;
}


#footer{
	clear:both;
}

/*--------------------------form*/

.form{
	float:left;
	width:15.5%;
	height:100px;
	padding:2%;
	margin:1% auto;
	font-size:1.000em;
	border-style:groove;
	text-align: top center;
	background-color: #ffc6a3;
	overflow:auto;
	color:#6B6969;
}

input:hover{
	background-color:f3c56e;
	
}

input:focus{
	background-color:00ffff;
}

#checkBox{
	position:relative;
	display:block;
	vertical-align:middle;
}






